
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>MF</b> Manufacturer</a>
    
    <div class="w3-right w3-hide-small">
      
      <a href="" class="w3-bar-item w3-button" (click)="login()">Login</a>
      <a href="" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>


</div>
<div>
    <h1>MF</h1>
</div>

  
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Factories details</h3>
    <p></p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="MainFactory" required name="MainFactory">
      <input class="w3-input w3-section w3-border" type="text" placeholder="AlternateFactory" required name="AlternateFactory">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Corporate Address" required name="Corporate Address">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Corporate email" required name="Corporate email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Corporate Telephone" required name="Corporate Telephone">
      <input class="w3-input w3-section w3-border" type="text" placeholder="RFC" required name="RFC">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>









<!-- Footer -->


</body>
</html>